<div class="card-columns m-5 animated fadeIn fast">
    <div (click)="verArtista(album)" *ngFor="let album of items" class="card puntero">
        <img src="{{album.images | noimage}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{album.name}}</h5>
            <p class="card-text">
                <span *ngFor="let item of album.artists" class="badge badge-pill badge-primary">{{item.name}}</span>
            </p>
        </div>
    </div>
</div>